@font-face {
  font-family: "Meditative";
  src:
    url("../assets/fonts/Meditative/meditative.otf") format("opentype"),
    url("../assets/fonts/Meditative/meditative.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tan Garland";
  src:
    url("../assets/fonts/TanGarland/TAN-Garland-Regular.woff2") format("woff2"),
    url("../assets/fonts/TanGarland/TAN-Garland-Regular.otf") format("opentype"),
    url("../assets/fonts/TanGarland/TAN-Garland-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}